name: Deploy Web
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.10.0-1.5.pre"
          channel: "beta"
          cache: true
      - name: Minify the json file of CAP exam data
        run: |
          cd ./assets
          python3 minify_cpa_exam_data.py
      - name: Build Web
        run: |
          flutter pub get
          flutter build web --release --base-href=/cap-countdown/
      - name: Deploy to Github Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ github.token }}
          publish_dir: ./build/web
